body {
    font-family: poppins, sans-serif;
    color: #1f2937;
    line-height: 1.7;
    margin: 10px;
    padding: 0px;

    
}


h1{
    
    text-align: center;
    line-height: 1.1;

}






 h1 span {
    color: white;
    background-color: purple;
    border: 4px solid purple;
    border-radius: 8px;
    

}


.nav {
    text-align: right;
   
}



.nav ul {
    list-style: none;
    
    
}


.nav li {
    display: inline-block;
    padding: 0px 2px;
    position: relative; 
    
}


.nav a button {
    text-decoration: none;
    color: white;
    background-color: #72aeeb;
    padding: 2px;
    border: 2px solid #72aeeb;
}




.hero {
    background-color: #72aeeb;
    background-image: url("images/elphas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(240, 233, 233);
    text-align: center;
    background-blend-mode: multiply;
    background:min-width: 320px;
    padding-top: 0px;
    padding-bottom: 100px;
   
    
}


.hero p {
    padding-top: 400px;

}

figcaption {
    color: black;
    font-style: italic;
}




.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 0px;

}

.card li {
    background-color: white;
    padding: 10px 0px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    list-style: none;;
    border: #444 solid;
    text-align: left;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    color: black;
}

.why {
    padding: 20px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;


}


.fig {
    padding: 0;
    display: flex;
    background-color: #f5f5f5;
    display: grid;
    width: 100%;
    object-fit: cover;

}

.fig img {
    
    width: 200px;
    padding: 0;
    display: flex;
    background-color: #f5f5f5;
    display: grid;
    width: 100%;
    object-fit: cover;

}


form input, form textarea {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #1f2937;
    border-radius: 15px;
}

form {
    border-radius: 10px;
}

button {
    
    color: white;
    padding:5px 10px;
    border-radius: 4px;
    border: 4px solid #72aeeb;
    background-color: #72aeeb;
    cursor: pointer;
    margin-bottom: 20px;
    
    
    
    
}


footer {
    background-color: #72aeeb;
    color: wheat;
    text-align: center;
    padding: 15px 20px;
    margin: 0;
    border-radius: 8px;


}





.address,a{
    font-style: normal;
    line-height: 1.5;
    margin-top: 20px;
    color: black;
}


.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

.social-media a {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}

.social-media a svg {
    height: 12px;

}

.social-media a::before {
    content: attr(social-media);
    position: absolute;
    border-radius: 100%;
    background-color: var(--primary-color);
    text-decoration: none;
    padding: 0.5px 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-60px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, 44, 1.68);
}

.social-media a:hover {
    background-color: var(--primary-color);
    fill: wheat;
}

.social-media a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--primary-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,44,1.68);

    
    
}

.social-media a:hover::before{
    transform: translateY(-65) rotate(0);
    opacity: 1;
}

.social-media a:hover::after{
    transform: translateY(-42) rotate(0);
    opacity: 1;
}


 a {
    text-decoration: none;
}


 a:hover {
    text-decoration: underline;
    color: purple
}


a:active {
    color: #580914;
}


.contact ul{
    list-style: none;
    padding: default;
    color: black;
}
    




